body {
    margin: 0px;
}

ul li {
    margin-left: 50px;
}

#info {
    position: absolute;
    right: 15px;
    bottom: 18px;
    width: 13px;
    height: 13px;
    left: 306px;
    top: 25px;
}

#back {
    display: none;
}

#frontImg {
    width: auto;
    height: auto;
}

#card-front {
    position: absolute;
    width: 344px;
    left: 0px;
    height: 244px;
    top: 0px;
}

#inner_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#card-back {
    position: absolute;
    bottom: auto;
    margin-top: 0px;
    width: 347px;
    height: 245px;
    left: 0px;
    top: 0px;
}

#inner_image1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#backImg {
    width: auto;
    height: auto;
}

#tabs {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    margin-top: 0px;
    right: 0px;
    bottom: 145px;
    width: 321px;
    height: 174px;
    left: 13px;
    top: 12px;
}

#about-tab {
    width: 100%;
    display: none;
    position: relative;
    height: auto;
    min-height: 174px;
}

#cards-tab {
    width: 100%;
    display: none;
    position: relative;
    height: auto;
    min-height: 174px;
}

#cards-text {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    cursor: default;
    -khtml-user-select: none;
    text-shadow: none;
    text-align: justify;
    position: absolute;
    margin-top: 0px;
    left: 20px;
    font-size: 10px;
    line-height: 11px;
    top: 51px;
    right: 21px;
    width: auto;
    bottom: -2px;
    height: auto;
}

#card-stack {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    margin-top: 34px;
    right: 0px;
    bottom: 144px;
    top: 12px;
    left: 12px;
    width: 321px;
    height: 186px;
}

#default-view {
    width: 100%;
    display: none;
    position: relative;
    height: auto;
    min-height: 220px;
}

#card-draw {
    width: 100%;
    height: 220px;
    position: relative;
    text-align: center;
}

#default-invitation {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    font-size: 19px;
    color: rgb(128, 128, 128);
    text-align: center;
    position: absolute;
    left: 0px;
    margin-top: 0px;
    top: 65px;
    right: 0px;
    width: auto;
    height: auto;
}

#strategy {
    display: inline-block;
    text-align: left;
    width: auto;
    max-width: 260px;
    line-height: 20px;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    top: 33%;
    left: 0px;
    -webkit-transform: translate(0px, -33%);
    position: relative;
    height: auto;
}

#attribution {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    font-family: 'Helvetica Neue';
    font-size: 11px;
    text-align: right;
    position: absolute;
    margin-top: 0px;
    top: 149px;
    left: 30px;
    right: 31px;
    width: auto;
    bottom: 25px;
    height: 25px;
}

#blank-view {
    width: 100%;
    min-height: 220px;
    display: none;
    position: relative;
}

#oblique-copyright {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    position: absolute;
    margin-top: 0px;
    left: 22px;
    top: 155px;
    right: 21px;
    width: auto;
    bottom: 5px;
    height: auto;
}

#oblique-version {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    position: absolute;
    margin-top: 0px;
    left: 22px;
    top: 142px;
    right: 21px;
    width: auto;
    bottom: 16px;
    height: auto;
}

#oblique-authors {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Helvetica Neue';
    position: absolute;
    margin-top: 0px;
    left: 22px;
    top: 113px;
    right: 21px;
    width: auto;
    bottom: 44px;
    height: auto;
}

#oblique-subheader {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Helvetica Neue';
    margin-top: 0px;
    position: absolute;
    left: 22px;
    top: 81px;
    right: 21px;
    width: auto;
    bottom: 72px;
    height: auto;
}

#oblique-header {
    text-overflow: ellipsis;
    overflow: hidden;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-top: 0px;
    left: 22px;
    top: 55px;
    right: 21px;
    width: auto;
    bottom: 92px;
    height: auto;
}

#button-bar-about {
    width: 162px;
    height: 40px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    top: 0px;
    left: 0px;
}

#inner_image3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#button-bar-cards {
    width: 162px;
    height: 40px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    top: 0px;
}

#inner_image2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#about-click {
    border-color: black;
    border-width: 1px;
    position: absolute;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    height: 37px;
    width: 78px;
}

#cards-click {
    border-color: black;
    border-width: 1px;
    position: absolute;
    margin-top: 0px;
    left: 80px;
    top: 0px;
    height: 40px;
    width: 83px;
}

#done-click {
    border-color: black;
    border-width: 1px;
    position: absolute;
    margin-top: 0px;
    left: 250px;
    top: 191px;
    width: 83px;
    height: 42px;
}

#button-image {
    width: 83px;
    height: 39px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    top: 2px;
}

#inner_image4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
